{% extends 'view/basic.html' %}

{% block title %}View{% endblock title %}

{% block body %}

{{ attribute.1 }}

<div class="container">
    <div class="main-content"><br>
        <div class="product-name">{{ products.name }}</div>
        <div class="product-rating">{{ products.rating }}</div>
        <div class="broughtBy">Brought by <a href="/" class="owner-store-link">{{ products.owners.0 }}</a></div>
        <div class="product-price">₹ {{ products.price }}</div>
        <button id="{{ productId }}" onclick="addToCart(this.id)" class="addToCartButton">Add to cart</button>
        <button id="{{ productId }}" onclick="buyNow(this.id)" class="buyButton">Buy now</button>
    </div>
</div>

<div class="container">
    <div class="image-view">
        <div class="row">
            <img class="product-image" src="{{ products.images.0 }}" alt="">
        </div>
    </div>
</div>

<div class="container">
    <div class="main-content">
        <div class="content-heading">Description</div>
        <div class="product-description">{{ products.description }}</div>
    </div>
</div>

<div class="container">
    <br>
    <div class="content-heading">Reviews</div>
    <div class="product-reviews">
        <ul>
            {% for review in products.reviews %}
            <li>
                <div class="review-item">{{ review }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock body %}
