{% extends 'cart/basic.html' %}

{% block title %}Cart{% endblock title %}

{% block body %}
<div class="content">
    <div class="cart-title">
        My Cart Page
    </div>
    <div class="preview">
        <div class="preview-card">
            <img src="/static/products/product4.png" class="preview-image" alt="">
            <div class="preview-card-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas sit sunt vero vitae tempora laborum quibusdam? Voluptatum unde necessitatibus iste, atque iure explicabo nam veniam minus odit assumenda quas eaque?
            </div>
        </div>
    </div>
</div>
{% endblock body %}
