<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Medium Cart - {% block titleBar %}{% endblock titleBar %}</title>
  {% block topBar %}{% endblock topBar %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/static/global/img/brand-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <a class="navbar-brand" id="nav-title" href="/">Medium cart</a>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart/">Cart</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">Category 1</a>
            <a class="dropdown-item" href="">Category 2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="">Category 3</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" id="search-box" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  {% block bodyBar %}{% endblock bodyBar %}
</body>
{% block bottomBar %}{% endblock bottomBar %}
</html>