<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Medium Cart - {% block titleBar %}{% endblock titleBar %}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/static/global/css/cards.css" />
  <link rel="stylesheet" href="/static/global/css/common.css" />
  <link rel="stylesheet" href="/static/global/css/navbar.css" />
  <link rel="stylesheet" href="/static/global/css/global.css" />

  <!-- JS -->
  <script src="/static/global/requires/js/jquery.3.4.1.js"></script>
  <script src="/static/global/js/tools.js"></script>
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="/static/global/img/brand-logo.png"/>

  {% block topBar %}{% endblock topBar %}
</head>
<body>
  <header>
    <nav>
      <div class="brand">
        <img src="/static/global/img/brand-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <a href="/">Medium cart</a>
      </div>
      <div class="nav-content">
        <ul>
          <li class="nav-item">
            <a href="/">Home</a>
          </li>
          <li class="nav-item">
            <a href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a href="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a href="/user">Profile</a>
          </li>
          <li class="nav-item">
            <a href="/cart/">Cart</a>
          </li>
        </ul>
        <form class="search-form" action="/search">
          <input class="search-box" name="query" type="search" placeholder="Search" aria-label="Search">
          <button class="search-button" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>
  
  {% block bodyBar %}{% endblock bodyBar %}

  <footer>
    <div class="logo">
      <img src="/static/global/img/brand-logo.png" id="brand-logo" alt="">
    </div>
    <div class="footer-content">
      <ul>
        <li>
          Themes
        </li>
        <li>
          Pre book
        </li>
        <li>
          Buy your choice
        </li>
      </ul>

      <ul>
        <li>
          Services
        </li>
        <li>
          Track
        </li>
      </ul>

      <ul>
        <li>
          Showcase
        </li>
        <li>
          Kit
        </li>
        <li>
          Developer
        </li>
      </ul>

      <ul>
        <li>
          About Us
        </li>
        <li>
          Contact Us
        </li>
        <li>
          Affiliates
        </li>
        <li>
          Resources
        </li>
      </ul>
    </div>
  </footer>
</body>
{% block bottomBar %}{% endblock bottomBar %}
</html>
