.card {
  width: 300px;
  margin: 15px 10px 10px 15px;
  padding: 0 0 2px 0;
  box-shadow: 0 0 5px rgb(202, 202, 202);
  position: relative;
  border-radius: 10px;
  display: inline-block;
}

.card:hover {
  box-shadow: 0 0 10px rgb(182, 182, 182);
}

.card-thumbnail {
  height: 220px;
  width: 100%;
  margin: 0 0 8px 0;
  box-shadow: 0 0 3px rgb(190, 190, 190);
  border-radius: 10px 10px 5px 5px;
}

.card-title {
  display: block;
  margin: 0 0 0 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.card-description {
  font-size: 14px;
  margin: 10px 0 18px 13px;
}

.card-divider {
  padding: 10px 0 0 0;
  border-top: 2px solid rgb(233, 233, 233);
}

.card-footer {
  font-size: 18px;
  margin: 10px 0 18px 13px;
  padding: 10px 0 0 0;
  border-top: 2px solid rgb(233, 233, 233);
}
