@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");

#nav-title {
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 0 1% 0 1%;
  text-transform: uppercase;
}

#nav-title:hover {
  color: rgb(238, 238, 238);
}

#search-box {
  width: 320px;
}

#search-box:focus,
#search-box:hover {
  width: 400px;
}

.navbar {
  font-family: "Lexend Deca", sans-serif;
  border-radius: 22px;
  padding-top: 35px;
  margin-top: -20px;
  box-shadow: 0 0 12px rgb(180, 180, 180);
}

.navbar:hover {
  box-shadow: 0 0 18px rgb(180, 180, 180);
}

.nav-block {
  position: static;
}

footer {
  background: #000;
  margin-top: 2.5%;
  padding: 3% 4% 4% 4%;
}

footer #brand-logo {
  margin: 0 0 -130% 0;
  width: 100px;
}

footer .logo {
  display: inline-block;
}

footer .footer-content {
  margin-left: 14%;
  margin-right: 14%;
}

footer ul {
  list-style-type: none;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
  margin: 0 6% 0 6%;
  cursor: pointer;
}

footer li {
}

footer li:hover {
  color: #c1c1c1;
}
