@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");

#nav-title {
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 0 1% 0 1%;
  text-transform: uppercase;
}

#nav-title:hover {
  color: rgb(238, 238, 238);
}

#search-box {
  width: 320px;
}

#search-box:focus,
#search-box:hover {
  width: 400px;
}

.navbar {
  font-family: "Lexend Deca", sans-serif;
  border-radius: 22px;
  padding-top: 35px;
  margin-top: -20px;
  box-shadow: 0 0 12px rgb(180, 180, 180);
}

.navbar:hover {
  box-shadow: 0 0 18px rgb(180, 180, 180);
}
