@import url("https://fonts.googleapis.com/css?family=Acme|Bitter|Work+Sans:500|Kanit|Lexend+Deca|Lora|Mukta|Noto+Sans+JP|Oxygen|Quicksand:700|Roboto+Slab&display=swap");

/* 
font-family: 'Lexend Deca', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Lora', serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Bitter', serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Acme', sans-serif;
*/

* {
  font-family: 'Lexend Deca', sans-serif;
}

.info-block .content-sub-heading {
  font-size: 20px;
  display: inline;
  margin-right: 1%;
}

.content-heading {
  font-size: 26px;
  font-weight: 600;
  margin: 1% 0 1% 0;
}

.content-sub-heading {
  font-size: 23px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  margin: 1% 0 1% 0;
}

.attrib-inp {
  display: inline;
  outline: none;
  color: black;
  font-size: 18px;
  padding: 1px 8px 1px 8px;
  margin-left: 2px;
  border: none;
  border-radius: 7px;
  box-shadow: 0 0 4px #c1c1c1;
}

.attrib-inp:hover,
.attrib-inp:active,
.attrib-inp:focus {
  box-shadow: 0 0 6px #c1c1c1;
}

.info-block {
  margin-bottom: 1%;
  display: inline-block;
  font-size: 17px;
}

.radio-btn, .checkbox-btn {
  height: 20px;
  width: 20px;
  outline: none;
}

.container-block {
  font-size: 17px;
}

.radio-label, .checkbox-label {
  margin-top: -1%;
}

#current-lang {
  display: inline-block;
}

#lang-option {
  display: inline-block;
  margin-left: 1%;
  padding: 1px 5px 1px 5px;
  outline: none;
  border: 2px solid;
  background: white;
  border-radius: 5px;
  font-size: 18px;
}

#lang-option:hover,
#lang-option:active,
#lang-option:focus {
  background: rgb(247, 247, 247);
}

#save-btn {
  background:linear-gradient(to right, rgb(140, 0, 255), rgb(0, 119, 255));
  border: none;
  outline: none;
  color: white;
  margin: 2% 0 1% 35%;
  padding: 4px 15px 4px 15px;
  border-radius: 7px;
  cursor: pointer;
}
