@import url("https://fonts.googleapis.com/css?family=Acme|Bitter|Kanit|Lexend+Deca|Lora|Mukta|Noto+Sans+JP|Oxygen|Quicksand:700|Roboto+Slab&display=swap");

/* 
font-family: 'Lexend Deca', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Lora', serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Bitter', serif;
font-family: 'Kanit', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Acme', sans-serif;
*/

.profile {
  /* height: 300px; */
  width: 400px;
  /* background: linear-gradient(to right, rgb(114, 0, 207) 3%, #00bac0 100%);; */
  background: rgb(255, 130, 130);
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(182, 182, 182);
}

.profile:hover {
  box-shadow: 0 0 15px rgb(182, 182, 182);
}

.profile-image {
  height: 300px;
  width: 300px;
  display: block;
  margin: auto;
  border-radius: 150px;
  padding: 35px 35px 35px 35px;
}

.profile-name {
  color: white;
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
  font-size: 22px;
}

.profile-email {
  color: white;
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
  font-size: 15px;
  margin: 5px 0 0 0;
  padding: 0 0 22px 0;
}
