@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Cabin|Heebo|Lexend+Deca|Noto+Sans+JP|Noto+Serif|Nunito|PT+Sans+Caption|Roboto|Roboto+Slab&display=swap");

/*
font-family: 'Bree Serif', serif;
font-family: 'Cabin', sans-serif;
font-family: 'Heebo', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Nunito', sans-serif;
font-family: 'PT Sans Caption', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

.content {
  height: 70%;
  margin: 5% 10% 5% 10%;
  padding: 1% 2% 1% 2%;
  box-shadow: 0 0 10px #c1c1c1;
  border-radius: 10px;
  font-family: "Lexend Deca", sans-serif;
}

.content:hover,
.content:active,
.content:focus {
  box-shadow: 0 0 14px #c1c1c1;
}

.cart-title {
  font-size: 30px;
}

.preview-image {
  height: 150px;
  border-radius: 10px;
}

.preview-card {
  border-radius: 10px;
  background-color: #fff;
}

.preview {
  width: 70%;
}

.preview-card-content {
  margin: -15% 0 0 28%;
}
