{% extends 'global/navbar.html' %}

{% block titleBar %}{% block title %}{% endblock title %}{% endblock titleBar %}

{% block topBar %}
  <!-- CSS -->
  <link
    rel="stylesheet"
    href="/static/global/requires/css/semantic.min.css"
  />
  <!--
  <link
    rel="stylesheet"
    href="/static/global/requires/css/bootstrap.min.css"
  />
  -->
  <link rel="stylesheet" href="/static/global/requires/css/argon.min.css" />
  <link rel="stylesheet" href="/static/global/css/cards.css" />
  <link rel="stylesheet" href="/static/global/css/common.css" />
  <link rel="stylesheet" href="/static/global/requires/css/navbar.css" />
  <link rel="stylesheet" href="/static/global/requires/css/global.css" />

  <!-- JS -->
  <script src="/static/global/requires/js/jquery.3.4.1.js"></script>
  <script src="/static/global/requires/js/argon-dashboard.js"></script>
  <!-- <script src="/static/global/requires/js/bootstrap.js"></script> -->
  <script src="/static/global/requires/js/argon.min.js"></script>
  <script src="/static/global/js/tools.js"></script>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="/static/global/img/brand-logo.png"/>

  {% block top %}{% endblock top %}
{% endblock topBar %}

{% block bodyBar %}{% block body %}{% endblock body %}{% endblock bodyBar %}

{% block bottomBar %}{% block bottom %}{% endblock bottom %}{% endblock bottomBar %}
