{% extends 'checkout/basic.html' %}

{% block title %}Checkout{% endblock title %}

{% block top %}
<link rel="stylesheet" href="/static/checkout/css/index.css" />
<script src="/static/checkout/js/index.js"></script>
{% endblock top %}

{% block body %}
<div class="container page-container">
    <form action="/payment/{{ productId }}" method="post">
        {% csrf_token %}
        <div class="checkout-title" id="main">
            Checkout
        </div>
        <input class="checkout-input" type="text" id="firstName" name="firstName" placeholder="First name">
        <input class="checkout-input" type="text" id="lastName" name="lastName" placeholder="Last name">
        <br>
        <div class="checkout-title">
            Shipping address
        </div>
        <input class="checkout-input" type="text" id="address" name="address" placeholder="Address">
        <input class="checkout-input" type="phone" id="phone" name="phone" placeholder="Phone number">
        <input class="checkout-input" type="text" id="city" name="city" placeholder="City">
        <br>
        <input class="checkout-input" type="text" id="country" name="country" placeholder="Country">
        <input class="checkout-input" type="text" id="state" name="state" placeholder="State">
        <input class="checkout-input" type="text" id="zipCode" name="zipCode" placeholder="Zip code">
        <input class="checkout-input"buyNow id="productId" name="productId" type="hidden">
        <br>

        <div class="button-container">
            <button id="submitButton" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock body %}

{% block bottom %}
<script>
localStorage.setItem("price", "{{ productPrice }}")
</script>
{% endblock bottom %}
