.card {
  width: 300px;
  margin: 15px 10px 10px 15px;
  padding: 0 0 2px 0;
  box-shadow: 0 0 5px rgb(202, 202, 202);
  position: relative;
  border-radius: 10px;
  display: inline-block;
}

.card:hover {
  box-shadow: 0 0 10px rgb(182, 182, 182);
}

.card-thumbnail {
  height: 220px;
  width: 100%;
  margin: 0 0 8px 0;
  box-shadow: 0 0 3px rgb(190, 190, 190);
  border-radius: 10px 10px 5px 5px;
}

.card-title {
  display: block;
  margin: 0 0 0 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.card-description {
  font-size: 14px;
  margin: 10px 0 18px 13px;
}

.card-divider {
  padding: 10px 0 0 0;
  border-top: 2px solid rgb(233, 233, 233);
}

.card-footer {
  font-size: 18px;
  margin: 10px 0 18px 13px;
  padding: 10px 0 0 0;
  border-top: 2px solid rgb(233, 233, 233);
}

.add-to-cart {
  width: 104px;
  margin: 0 4% 0 4%;
}

.quick-view {
  width: 104px;
  margin: -18.3% 0 4% 60%;
}

.cards-body {
  margin: 1.5em 6.5em 0 8.5em;
}

.gradient-tag {
  color: white;
  background: linear-gradient(to right, rgb(0, 102, 255) 3%, #0bb0b6 100%);
  font-size: 20px;
  font-weight: 600;
  padding: 6px 6px 6px 8px;
  border-radius: 18px;
  cursor: pointer;
  display: inline;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}