.add-to-cart {
  width: 104px;
  margin: 0 4% 0 4%;
}

.quick-view {
  width: 104px;
  margin: -18.3% 0 4% 60%;
}

.cards-body {
  margin: 1.5em 6.5em 0 8.5em;
}

.gradient-tag {
  color: white;
  background: linear-gradient(to right, rgb(0, 102, 255) 3%, #0bb0b6 100%);
  font-size: 20px;
  font-weight: 600;
  padding: 6px 6px 6px 8px;
  border-radius: 18px;
  cursor: pointer;
  display: inline;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}