{% extends 'global/navbar.html' %}

{% block titleBar %}{% block title %}{% endblock title %}{% endblock titleBar %}

{% block topBar %}
  <!-- CSS -->
  <link rel="stylesheet" href="/static/user/css/index.css" />
  
  <!-- JS -->
  <script src="/static/user/js/index.js"></script>

  {% block top %}{% endblock top %}
{% endblock topBar %}

{% block bodyBar %}{% block body %}{% endblock body %}{% endblock bodyBar %}

{% block bottomBar %}{% block bottom %}{% endblock bottom %}{% endblock bottomBar %}
